/* Import Google font Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #2a2a2a;
  font-family: 'Ubuntu';
}

.box {
  max-width: 780px;
  margin: auto;
  padding: 0 20px;
}

.title {
  color: #f06;
  font-size: 1.3rem;
}

.text {
  color: #eee;
  font-size: 1.15rem;
}