/* Import Google font Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #2a2a2a;
  color: #eee;
  font-family: 'Ubuntu';
}

.box {
  max-width: 780px;
  margin: auto;
  padding: 0 20px;
}

.title {
  color: #f06;
  font-size: 1.3rem;
}

.content {
  margin-bottom: 36px;
}

.#paragraph-one {
  font-size: 1.15rem;
}

.list-item {
  padding: 5px;
}

#button {
  background-color: #f06;
  color: #222;
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  padding: 8px 12px;
  display: block;
  cursor: pointer;
  border: none;
}

#button:focus {
  outline: none;
}